:root{
    --seasalt: #f4f7f5;
    --rose-quartz: #a7a2a9;
    --hunyadi-yellow: #feb44d;
    --sky-blue: #78d9f2;
    --black: #070707;
}
html{
    font-family: Lato, sans-serif;
    background-color: var(--seasalt);
}
.navbar{
    padding: 50px;
    text-align: center;
}
.navbar__logo{
    width: 75px;
    height: 75px;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    display: flex;
    flex-direction: column;
}
.content__title{
    color: var(--rose-quartz);
    margin-bottom: 0;
}
.content__text{
    color: var(--black);
    letter-spacing: 0.1rem;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.footer__link{
  text-decoration: none;
  color: var(--rose-quartz);
}
.footer__link:hover{
  color: var(--sky-blue);
}