:root{
    --seasalt: #f4f7f5;
    --champagne-pink: #f5e4d7;
    --misty-rose: #e5d1d0;
    --silver: #bdbbb6;
    --buff: #d3a588;
    --paynes-gray: #546a76;
}
html{
    font-family: Lato, sans-serif;
    background-color: var(--seasalt);
    color: var(--paynes-gray);
}
.navbar{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.navbar__description{
    color: var(--silver);
}
.generator{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 5rem;
}
.generator__logo{
    padding: 0 40px;
}
.form__input{
    padding: 25px;
}
.form__select{
    padding: 2px;
    width: 50px;
    font-size: 16px;
}
.form__check-input {
  width: 50px;
  height: 20px;
  accent-color: var(--buff);
}
.form__submit{
    display: grid;
    align-items: center;
    padding:25px;
}
.submit{
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--buff);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.submit:hover{
    background-color: var(--champagne-pink);
}
.password{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 10px;
}
.password__content{
    border: 2px solid var(--misty-rose);
    padding: 5px;
    border-radius: 5px;
    width: 600px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}
.footer__link{
  text-decoration: none;
  color: var(--buff);
}
.footer__link:hover{
  color: var(--misty-rose);
}
@media only screen and (max-width: 980px) {
    .navbar {
        padding: 5%;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
    }
    .content {
        width: 90%;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
    }
    .footer {
        margin 5%;
        width: 80%;
        padding-top: 5%;
    }
}