<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title>About</title>
		<link rel="icon" href="/static/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/aboutStyles.css">
	</head>
	<body>
		<header class="navbar">
			<div class="navbar__brand">
				<a class="navbar__link" href="/">
					<img class="navbar__logo" src="/static/logo_160px.svg" alt="Visit Password Generator">
				</a>
			</div>
		</header>
	
	    <section class="content">
	        <h1 class="content__title">About Random Password Generator</h1>
	        <p class="content__text">
		        This site generates a random password with user inputs for  length, and character type
		        such as Uppercase, Numbers, and Special Characters. A new password will be generated
		        with a refresh to the page.
	        </p>
		    <p class="content__text">
		        This site was created by Erika Diaz for the purposes of python and test automation practice.
	        </p>
	    </section>
	</body>
</html>