<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title>Password Generator</title>
		<link rel="icon" href="/static/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/styles.css">
	</head>
	<body class="body">
		<header class="navbar">
			<h1 class="navbar__title">Random Password Generator</h1>
			<h2 class="navbar__description">Create strong and secure passwords to keep your account safe online.</h2>
		</header>
		<main>
			<div class="generator">
				<img class="generator__logo" src="/static/locked.svg" alt="Password logo">
				<section class="generator__form">
					<form action="/" method="POST">
						<div class="form__input">
							<select class="form__select" name="length" id="length">
				                <option value="6">6</option>
				                <option value="7">7</option>
				                <option value="8">8</option>
				                <option value="9">9</option>
				                <option value="10">10</option>
				                <option value="11">11</option>
				                <option value="12" selected="selected">12</option>
				                <option value="13">13</option>
				                <option value="14">14</option>
							</select> Character Length
							<div class="form__check">
				                <input class="form__check-input" type="checkbox" id="uppercase" name="uppercase">
				                <label class="form__check-label" for="uppercase">Uppercase</label>
				            </div>
				            <div class="form__check">
				                <input class="form__check-input" type="checkbox" id="numbers" name="numbers">
				                <label class="form__check-label" for="numbers">Numbers</label>
				            </div>
				            <div class="form__check">
				                <input class="form__check-input" type="checkbox" id="special" name="special">
				                <label class="form__check-label" for="special">Special Characters</label>
				            </div>
						</div>
						<div class="form__submit">
							<input class="submit" type="submit" value="Generate Password">
						</div>
					</form>
				</section>
			</div>
			<section class="password">
				<h2 class="password__content">{{ password }}</h2>
			</section>
		</main>
		<footer class="footer">
			<a class="footer__link" href="/about">About</a>
			<a class="footer__link" href="https://erikadiaz.dev/">Portfolio</a>
			<a class="footer__link" href="https://github.com/ErikaItzelDiaz/passwordGenerator">GitHub</a>
			<a class="footer__link" href="https://www.linkedin.com/in/eerikaz/">LinkedIn</a>
		</footer>
	</body>
</html>