<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewpoint" content="width=device-width, initial-scale=1.0">
		<title>Password</title>
		<link rel="icon" href="/static/logo.ico" type="image/x-icon">
		<link rel="stylesheet" href="/static/css/passwordStyles.css">
	</head>
	<body>
		<section class="success">
			<h1 class="success__title">Your password is:  </h1>
			<h2 class="sucess__content">{{ password }}</h2>
		</section>
		<footer>
			<a class="home__btn" href="/">Home</a>
		</footer>
	</body>
</html>